table{
    border: 1px solid black;
    border-collapse: collapse;
}
thead th{
    background: grey;
    color: white;
}
tbody th{
    background: lightgrey;
    color: white;
}
tfoot{
    background: #2e62cd;
}
th , td{
    border: 1px solid black;
    padding: 5px;
}
caption{
    padding: 10px;
}
/*.dujiaoshou{

}*/
.wrap 
 {
     width:220px; 
     position:relative; 
     overflow:hidden; 
     font-family:arial, sans-serif; 
 }
 .wrap img 
 {
     border:0;
     width:220px;
     height:330px; 
 }
 .wrap p 
 {
     display:block; 
     width:220px; 
     height:330px; 
     position:absolute; 
     right:0; 
     top:300px; 
     /*使用RGBA颜色值*/
     background-color:rgba(0,0,0,0.3);
     font-size:12px; 
     color:#FFFFFF; 
     padding:0; 
     margin:0; 
     line-height:16px;
     /*定义过渡效果，all表示针对所有值有变化的CSS属性*/
     transition: all 0.6s ease-in-out;
 }
 .wrap p b 
 {
     display:block; 
     font-size:22px; 
     color:#fc0; 
     text-align:center;
     margin:0; 
     padding:0; 
     line-height:30px;
  }
 .wrap p span 
 {
     display:block; 
     padding:10px; 
     line-height:20px;
 }
 .wrap:hover p {top:0;}
 em{
     text-align:center;
     color:#d9b3ff;
     padding:20px 0 0 20px;
     font-size:60px;
     font-weight:bold;
     text-shadow:0 0 4px white,0 -5px 4px #ff3,2px -10px 6px #fd3,-2px -15px 11px #f80,2px -25px 18px #f20;
 }
#container
 {
     width:178px;
     height:20px;
     padding:20px;
     border:1px solid gray;
     color:raba(0,0,0,0.7);
     cursor:pointer;
     /*实现省略号效果*/
     text-overflow:ellipsis; 
     overflow:hidden; 
     white-space:nowrap;
     /*实现过渡效果*/
     transition:all 0.5s linear;
 }
 #container:hover
 {
     height:250px;
     background-color:azure;
     /*必须设置white-space属性为normal*/
     white-space:normal;
 }
 #center{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #beijing{
     width: 100%;
     height: 22px;
     border: 1px solid silver;
     background-image: url(背景.png);
 }
 body{
     background-color: #ccfbea;
 }
 a{
	text-decoration: none;
    color: #fc0;
 }
 h1{
     text-align: center; 
     font-family:Verdana;
     font-size:33px;
     font-weight:bold;
     color:transparent;    /*设置文字颜色为透明*/
     text-stroke:2px #fc0;
     -webkit-text-stroke:2px #fc0;
 }
 b{
     text-align: center;
     color: #fff;
 }
 i{
     color: #ff47d1;
 }
 h2{
     color: #fff;
     text-align: center;
 }