body{
    background-color: #d4d4d4;
}
#header{
    font-family: 微软雅黑;
    font-weight: 900;
    border: black 1px solid;
    color: black;
    text-align: center;
    padding: 1px;
}
#nav{
    line-height: 30px;
    background-color: #ccff99;
    border: black 1px solid;
    width: 88px;
    height: 609px;
    float: left;
    padding: 5px;
}
#section{
    width: 500px;
    float: left;
    padding: 10px;
}
#footer{
    font-family: 黑体;
    font-weight: 700;
    border: 1px black dashed;
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}
img{
    border: black 1px solid;
}
.lianjie{
    text-decoration: none;
    line-height: 55px;
    font-size: 22px;
}
.juzhong{
    text-align: center;
}