body{
    background-color: #d4d4d4;
}
#header{
    font-family: 微软雅黑;
    font-weight: 900;
    border: black 1px solid;
    color: black;
    text-align: center;
    padding: 1px;
}
#nav{
    line-height: 30px;
    background-color: #ccff99;
    border: black 1px solid;
    width: 88px;
    height: 609px;
    float: left;
    padding: 5px;
}
#section{
    width: 500px;
    float: left;
    padding: 10px;
}
#footer{
    font-family: 黑体;
    font-weight: 700;
    border: 1px black dashed;
    color: black;
    clear: both;
    text-align: center;
    padding: 5px;
}
img{
    border: black 1px solid;
}
.lianjie{
    text-decoration: none;
    line-height: 55px;
    font-size: 22px;
}
.juzhong{
    text-align: center;
}
@keyframes turnaround{
    0% {top:0px; left:0px; background: red;}
    25% {top:0px; left:1250px; background: blue;}
    50% {top:250px; left:1250px; background: yellow;}
    75% {top:250px; left:0px; background: green;}
    100% {top:0px; left:0px; background: red;}
}
@-moz-keyframes turnaround{
    0% {top:0px; left:0px; background: red;}
    25% {top:0px; left:100px; background: blue;}
    50% {top:100px; left:100px; background: yellow;}
    75% {top:100px; left:0px; background: green;}
    100% {top:0px; left:0px; background: red;}
}
@-webkit-keyframes turnaround{
    0% {top:0px; left:0px; background: red;}
    25% {top:0px; left:100px; background: blue;}
    50% {top:100px; left:100px; background: yellow;}
    75% {top:100px; left:0px; background: green;}
    100% {top:0px; left:0px; background: red;}
}
@-o-keyframes turnaround{
    0% {top:0px; left:0px; background: red;}
    25% {top:0px; left:100px; background: blue;}
    50% {top:100px; left:100px; background: yellow;}
    75% {top:100px; left:0px; background: green;}
    100% {top:0px; left:0px; background: red;}
}
.div1{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: turnaround 15s infinite;
    -moz-animation: turnaround 15s infinite;
    -webkit-animation: turnaround 15s infinite;
    -o-animation: turnaround 15s infinite;
}
