			/*请勿完全抄袭源码，请勿声明自己是原创*/
			body{
				background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
			}
			a
			{
				text-decoration: none;
				color: #c92a2a;
				font-size: 33pt;
				font-family: 方正彩云简体;
			}
			ol
			{
				color: #64dd17;
				font-size: 25pt;	
			}
			#jin
			{
				color: #18ffff;
				background-color: #000000;
				width: 120px;
				height: 50px;
				font-size: 25px;
				border: #ffff24 2px dashed;
			}
			table
			{
				width: 200pt;
				border: #bdbdbd 5px dashed;
			}
			#if
			{
				border: #ffff00 5pt solid;
			}
			b{
				font-size: 17pt;
			}
			.wen
			{
				font-size: 20px;
				color: #212121;
			}
			.qu
			{
				font-family: 华文仿宋;
				font-size: 33pt;
				color: #9c27b0;
			}
			.luoma
			{
				list-style-type: upper-roman;
			}
			.yin{
				background-color: #fadb14;
				border: #fffb8f 2px dashed;
			}
			.erweima{
				border: #ffff24 3pt solid;
				width: 222pt;
			}
			/*小西*/
			{background: #68b8ed;}
			        .eye-brow,.eye,.pupil,.shine,.nose,.mouth {display: inline-block;}
			        .mr-border-radius,.eye,.pupil,.shine,.nose,.mouth {position: relative;}
			        .left-eye,.left-blush {float: left;}
			        .right-eye,.right-blush {float: right;}
			        /*外层样式*/
			        .mr-border-radius 
			        {
			            margin: auto;
			            margin-top: 10%;
			            width: 550px;
			            height: 440px;
			            background-color: #FFB010;
			            background-image: radial-gradient(circle, #ffff24, #FFB010);
			            border: solid #CC8800;
			            border-radius: 40px;
			            border-width: 10px 20px 0 0;
			            box-shadow: 20px 10px 30px 0 rgba(0, 0, 0, .6);
			            transition: all .5s;
			        }
			        /*眉毛*/
			        .eye-brow 
			        {
			            position: absolute;
			            top: 15%;
			            width: 135px;
			            height: 90px;
			            border-radius: 100%;
			            background: transparent;
			            box-shadow: 0 -15px 0 0 #995E00;
			            transition: top .5s;
			        }
			        .left-eye-brow {left: 10%; transform: rotate(-15deg);}
			        .right-eye-brow {right: 10%;transform: rotate(15deg);}
			        /*眼睛*/
			        .eye 
			        {
			            width: 130px;
			            height: 130px;
			            margin-top: 20%;
			            border-radius: 100%;
			            background: white;
			        }
			        /*脸红*/
			        .blush 
			        {
			            width: 65px;
			            height: 55px;
			            margin-top: 43%;
			            border-radius: 90%;
			            background: #FFA249;
			        }
			        /*瞳孔*/
			        .pupil 
			        {
			            height: 80px;
			            width: 80px;
			            margin-top: 25%;
			            margin-left: 10%;
			            background: black;
			            border-radius: 100%;
			            transition: margin-left .5s;
			        }
			        .shine 
			        {
			            height: 15px;
			            width: 15px;
			            margin-top: 15%;
			            margin-left: 25%;
			            border-radius: 100%;
			            background: white;
			            transition: all .5s;
			        }
			        .shine:after 
			        {
			            content: "";
			            position: relative;
			            display: inline-block;
			            top: 65%;
			            left: -50%;
			            height: 8px;
			            width: 8px;
			            border-radius: 100%;
			            background: white;
			        }
			        .eye.left-eye {margin-left: 15%;}
			        .blush.left-blush {margin-left: -15%; }
			        .eye.right-eye { margin-right: 15%;}
			        .blush.right-blush {margin-right: -15%;}
			        /*鼻子*/
			        .nose 
			        {
			            left: 8%;
			            top: 55%;
			            width: 40px;
			            height: 35px;
			            border-radius: 100%;
			            box-shadow: 0 10px 0 0 #E59200;
			        }
			        /*嘴巴*/
			        .mouth 
			        {
			            left: 2.5%;
			            top: 50%;
			            width: 100px;
			            height: 100px;
			            border-radius: 100%;
			            background: transparent;
			            box-shadow: 0 15px 0 0;
			            transition: box-shadow .5s;
			        }
			        /*鼠标移到头像上时*/
			        .mr-border-radius:hover 
			        {
			            border-width: 10px 0 0 20px;
			            box-shadow: -20px 10px 30px 0 rgba(0, 0, 0, .6);
			        }
			        .mr-border-radius:hover .pupil {margin-left: 27%; }
			        .mr-border-radius:hover .shine {margin-left: 60%;}
			        .mr-border-radius:hover .mouth {box-shadow: 0 35px 0 0;}
			        .mr-border-radius:hover .eye-brow {top: 10%;}
					/*版权导航条*/
					.ban{
						font-size: 20px;
						font-weight: 900;
						color: #272923;
						text-align: center;
						float: left;
						text-decoration: none;
						display: block;
					}
					.menu{
						width:100%;
						height: 48px;
						text-align: center;	
					}
					.menu ul{
						width: 1000px;
						list-style: none;
						margin: 0 auto;
					}
					.menu ul li {
						float: left;
						width: 95px;
						height: 48px;
						line-height: 48px;
						color: #FFFFFF;
						font-family: 黑体;
						font-size: 16px;
					}
					.menu ul li  {
						text-decoration: none;
						color: #FFFFFF;
						display: block;
						}
					.menu  ul .split{
							width: 17px;
						}
					.menu ul li :hover{
						color: #284f95;
						background-color: #9ec8da;
					}
					#copy{
						font-size: 10px;
					}
					#juzhong{
						text-align: center;
					}