body{
				background-color: #dbfbe3;
			}
			a
			{
				text-decoration: none;
				color: #d9b3ff;
				font-size: 40pt;
				font-family: 方正彩云简体;
			}
			#jin
			{
				color: #18ffff;
				background-color: #000000;
				width: 115px;
				height: 41px;
				font-size: 25px;
				border: #00e5ff 3px solid;
			}
			td
			{
				border: #bfe9ff 2pt solid;
				width: 100%;
				border-bottom: 0px;
			}
			#fang
			{
				border: #ffb3cc 3pt dashed;
			}
			.td{
				
			}